*.log
dist/
node_modules/
generated/
# .env
.env.local
.env.production
.next/
# *.lock

*.log
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.vercel

# Local Netlify folder
.netlify
netlify

out*
expo/*

# tailwind css for production
prod.css
web2/